/* You can add global styles to this file, and also import other style files */

@import "./theme";

.mb-alert .mat-simple-snackbar {
  justify-content: center;
}

.mb-alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.mb-alert-error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
