<div class="container" *ngIf="!loading">
  <div class="header">
    <h1>Discover Your Perspective</h1>
    <span>Complete the 7 min test and get a detailed report of your lenses on the world</span>
  </div>

  <form [formGroup]="form" class="survey-form" (ngSubmit)="submit()">
    <mb-rating class="survey-element" *ngFor="let q of  questions" [title]="q.question"
               (valueChange)="onAnswer(q.id, $event)" [class.error]="submissionAttempted && !answered(q.id)">
    </mb-rating>
    <div class="email-container survey-element last">
      <span>Your Email</span>
      <mat-form-field appearance="outline">
        <input formControlName="email" matInput placeholder="you@example.com">
        <mat-error>A valid email id is required.</mat-error>
      </mat-form-field>
    </div>
    <button class="submit-btn" type="submit" mat-raised-button [disabled]="submitting" color="primary">Submit & Continue</button>
  </form>
</div>
<mb-spinner *ngIf="loading || submitting"></mb-spinner>
